<mat-toolbar color="primary" >
  <span>Budget App</span>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['/expenses']" routerLinkActive="active">Expenses</a>
  <a mat-button [routerLink]="['/income']" routerLinkActive="active">Income</a>
  <!-- <a mat-button [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a mat-button [routerLink]="['/schedule']" routerLinkActive="active">Schedule</a>
  <a mat-button [routerLink]="['/budget']" routerLinkActive="active">Budget</a>
  <a mat-button [routerLink]="['/savings']" routerLinkActive="active">Savings</a>
  <a mat-button [routerLink]="['/recurring']" routerLinkActive="active">Recurring</a> -->
</mat-toolbar>
<router-outlet />


